* {
    margin: 0;
}

:root {
    font-family: system-ui, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}


